<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />


    <h2 th:text="|${title} 리뷰 리스트|">영화 제목</h2>

    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>이름</th>
                <th>평점</th>
                <th>한줄평</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="review : ${reviews}">
                <td th:text="${review.getMember().getName()}"></td>
                <td th:text="${review.rating}"></td>
                <td th:text="${review.comment}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
